GITHUB_AUTH_EMAIL=gay;GITHUB_CLIENT_ID=gay;GITHUB_CLIENT_REDIRECT_URI=gay;GITHUB_CLIENT_SECRET=gay;GOOGLE_CLOUD_FIREWALL_NAME=gay;GOOGLE_CLOUD_PROJECT=gay;GOOGLE_CLOUD_VM_NAME=gay;GOOGLE_CLOUD_VM_ZONE=gay;MINECRAFT_SERVER_PORT=gay